.wrapper{
    display: grid;
    grid-template-columns:1fr;
}
.wrapper .main .teach{
    margin-top: 13rem;
}
.wrapper .main .event-browse{
    margin-top: 15rem;
}
.wrapper .footer{
    margin-top: 7rem;
}
